.ant-layout {
  min-height: 100%;
}
.yy-row {
  display: flex;
  flex-wrap: wrap;
}
.yy-icon {
  display: inline-block;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
  height: 0 !important;
  width: 0 !important;
}
.yy-scrollbar::-webkit-scrollbar {
  bottom: 0;
  height: 12px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
}
.yy-scrollbar::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
.yy-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
.yy-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 6px;
  min-height: 24px;
}
